section.hero {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 390px;
  background-color: var(--loading);
  background-image: url(../images/hero.jpeg);
  background-position: center;
  background-size: cover;
  color: var(--secondColor);
  text-align: center;
}
.hero p,
.hero h1 {
  text-shadow: 0 0 1rem black;
}
/* card */

section.content {
  width: 80%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 310px;
  background-color: white;
  margin: 1em;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  padding: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  opacity: 0;
  animation: slide_top 1s linear forwards;
  animation-delay: calc(0.5s * var(--i));
  overflow: hidden;
}

@keyframes slide_top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.card:hover {
  box-shadow: var(--shadow);
  transform: scale(1.03);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: var(--loading);
  filter: contrast(1.2);
  transition: 0.3s ease-in;
  opacity: 0.8;
}

.card img:hover {
  opacity: 1;
}

.card p {
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1.2px;
}

p.tag {
  color: silver;
}
@media only screen and (max-width: 768px) {
  h2.name {
    font-size: 1.4rem;
  }
  .content {
    width: 100%;
  }
  .card {
    width: 320px;
  }
}
